@charset "UTF-8";

$regular: 'Montserrat', sans-serif;
$secondary: 'Yeseva One', sans-serif;
$white: #ffffff;
$black: #000000;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-prada.es-prada {
  font-family: $regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background-color: $white;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: $black;
  }

  .es-title {
    @include text;
    font-family: $secondary;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin-bottom: 30px;

    & span {
      font-weight: 700;
    }
  }

  .es-banner {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;

    &__image {
      @include img;

      &--mobile {
        padding-top: 30px;
      }

      &--desktop {
        display: none;
      }
    }

    &__title {
      margin-top: 0;
      font-family: $secondary;
      font-weight: 400;
      font-size: 43px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      color: #000;
    }

    &__description {
      margin-bottom: 50px;
      font-family: $regular;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      color: #000;
      transition: all 0.2s ease-in-out;

      &--red {
        display: block;
        margin-bottom: 50px;
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        color: #c1113b;
      }

      &--bold {
        font-weight: 700;
      }
    }

    &__button {
      font-family: $regular;
      font-weight: bold;
      display: block;
      background: none;
      border: none;
      margin: 0 auto;
      margin-top: 10px;
    }

    &__invisible {
      display: none;

      &--active {
        display: inline;
      }
    }
  }

  .es-category {
    padding-left: 15px;
    padding-right: 15px;

    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    &__image {
      @include img;
      margin-bottom: 39px;
    }

    &__item-title {
      font-family: $secondary;
      font-weight: 500;
      font-size: 43px;
      letter-spacing: 0.2em;
      text-align: center;
    }

    &__item-text {
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;

      &--bold {
        font-weight: 700;
      }
    }

    &__item-link {
      display: block;
      margin: 0 auto;
      padding: 20px 35px;
      max-width: 518px;
      font-family: $secondary;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      background: $black;
      text-decoration: none;
      transition: all 0.3s ease;
    }
  }

  .es-cross {
    padding: 0 16px;

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 0 8px;
      margin: 0 -16px;
    }
    &__img {
      @include img;
      max-height: 290px;
      max-width: 135px;

      &--3 {
        margin-right: -50px;
      }
    }
    &__single {
      max-width: 135px;
      margin-bottom: 25px;
      padding: 0 8px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      &:hover .es-cross__icon {
        transform: scale(1.2);
      }
    }
    &__wrapper {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
    }
    &__subtitle {
      @include text;
      font-family: 'Montserrat';
      font-size: 16px;
      text-align: center;
      margin-bottom: 16px;
      strong {
        display: block;
        text-transform: uppercase;
      }
    }
    &__text {
      @include text;
      font-family: 'Montserrat';
      color: $black;
      font-size: 15px;
      text-align: center;
      margin-bottom: 16px;
    }
    &__item-title {
      @include text;
      min-height: 95px;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: $black;
    }

    &__item-subtitle {
      display: block;
      margin-top: 10px;
      font-size: 16px;
    }
    &__link {
      @include text;
      font-family: $secondary;
      color: $white;
      min-width: 135px;
      background: $black;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 16px 24px;
      margin-bottom: 16px;
      border: 1px solid $black;
      transition: all 0.3s ease;
      text-align: center;
      &:hover {
        color: $black;
        background: $white;
      }
    }
    &__packshot {
      position: relative;
      z-index: 1;

      &--1 {
        max-width: 189px;

        &::before {
          position: absolute;
          content: '1';
          font-family: 'Roboto';
          color: #ebebeb;
          font-size: 160px;
          top: -15px;
          left: -60px;
          line-height: 1;
          z-index: -1;
        }
      }
      &--2 {
        max-width: 175px;

        &::before {
          position: absolute;
          content: '2';
          font-family: 'Roboto';
          color: #ebebeb;
          font-size: 160px;
          top: -68px;
          left: -60px;
          line-height: 1;
          z-index: -1;
        }
      }
      &--3 {
        &::before {
          position: absolute;
          content: '3';
          font-family: 'Roboto';
          color: #ebebeb;
          font-size: 160px;
          top: -50px;
          left: -60px;
          line-height: 1;
          z-index: -1;
        }
      }
    }

    &__packshot-icon {
      @include img;
      margin-bottom: 10px;
    }
  }

  .es-video {
    padding-left: 15px;
    padding-right: 15px;

    &__title {
      margin-top: 0;
      font-family: $secondary;
      font-weight: 400;
      font-size: 43px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      color: #000;

      &--red {
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        color: #c1113b;
      }
    }

    &__description {
      font-family: $regular;
      font-size: 15px;
      font-weight: normal;
      text-align: center;
    }

    &__disclaimer {
      margin-bottom: 60px;
      font-size: 12px;
      text-align: center;
    }

    &__wrapper {
      position: relative;
      margin-bottom: 50px;
    }
    &__player {
      display: block;
      margin: 0 auto;
      width: 95%;
      object-fit: cover;
      min-height: 225px;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    &__image-icon {
      width: 53px;
      height: 53px;

      &--desktop {
        width: 116px;
        height: 116px;
      }
    }
    &__additional-description {
      min-width: 320px;
      margin-bottom: 32px;
      strong {
        text-transform: none;
      }
    }
    &__player {
      &--desktop {
        display: none;
      }
    }
    &__play-button {
      &--desktop {
        display: none;
      }
    }
  }

  .slick-button-prev {
    position: absolute;
    top: 35%;
    left: 15px;
    rotate: 180deg;
    cursor: pointer;
  }

  .slick-button-next {
    position: absolute;
    top: 35%;
    right: 15px;
    cursor: pointer;
  }

  .slick-button-2-prev {
    position: absolute;
    bottom: 0;
    left: 15px;
    rotate: 180deg;
    cursor: pointer;
  }

  .slick-button-2-next {
    position: absolute;
    bottom: 0;
    right: 15px;
    cursor: pointer;
  }

  .slick-pagination-2 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }

  .slick-dots {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 4px;
    padding: 0;
    margin: 0;
    bottom: 3%;
    left: 45%;
  }

  .slick-dots li {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #b8a8a6;
    opacity: 1;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 6px;
  }

  .slick-dots li.slick-active {
    background: $black;
  }

  .slick-dots li button {
    display: none;
  }

  .slick-slide {
    opacity: 0.7;
  }

  .slick-current {
    opacity: 1;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-arrow.slick-disabled {
    display: none !important;
  }

  @media screen and (min-width: 400px) {
    .es-cross {
      &__container {
        margin: 0 auto;
        max-width: 320px;
      }
    }
  }

  @media screen and (min-width: 560px) {
    .es-cross {
      &__container {
        max-width: 628px;
        margin: 0 auto;
        gap: 10px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: flex-end;
      }

      &__img {
        max-height: 290px;
        max-width: 220px;
      }

      &__single {
        max-width: 275px;
      }

      &__link {
        font-family: $secondary;
        color: $white;
        min-width: 195px;
        background: $black;
        font-size: 16px;
      }

      &__item-title {
        font-size: 20px;
      }
    }

    .es-video {
      &__player {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
          min-height: 507px;
        }
      }
      &__play-button {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    .es-banner {
      &__button {
        display: none;
      }
      &__invisible {
        display: inline;
      }
    }
    .es-category {
      &__items {
        flex-direction: row;
        gap: 10px;
      }

      &__item {
        min-width: 50%;
        max-width: 50%;
      }

      &__item-text {
        margin: 0 auto;
        max-width: 440px;
      }
    }

    .es-slick-carousel--mobile,
    .slick-button-prev,
    .slick-button-next {
      display: none;
    }

    .slick-pagination-2,
    .slick-button-2-prev,
    .slick-button-2-next {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .es-banner {
      margin-bottom: 50px;

      &:nth-of-type(1) {
        padding-top: 60px;
      }

      &--mobile {
        display: none;
      }

      &__image {
        &--desktop {
          display: block;
        }
      }
    }

    .slick-dots {
      left: 50%;
    }

    .es-title {
      margin-bottom: 50px;
      font-size: 30px;
      text-align: center;
    }
  }

  @media screen and (min-width: 860px) {
    .es-cross {
      &__container {
        justify-content: space-around;
        max-width: none;
      }
      &__single {
        max-width: 140px;
      }
      &__title {
        margin-bottom: 100px;
      }
      &__text {
        min-height: 75px;
      }
      &__img {
        max-width: 250px;
        max-height: 366px;

        &--2 {
          max-width: 274px;
        }
        &--3 {
          max-width: 236px;
          margin-right: 0;
        }
      }
      &__packshot {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 300px;

        &--2 {
          max-width: 250px;

          &::before {
            left: 33%;
            top: -20px;
          }
        }

        &--3 {
          &::before {
            left: 25%;
            top: -20px;
          }
        }
      }
    }

    .es-title {
      font-size: 44px;
    }
  }

  @media screen and (min-width: 925px) {
  }
  @media screen and (min-width: 1024px) {
    .es-category {
      &__item-text {
        font-size: 17px;
        max-width: 498px;
      }
    }

    .es-banner {
      &__description {
        font-size: 17px;
      }

      &--relative {
        position: relative;
      }

      &__description {
        &--absolute {
          position: absolute;
          max-width: 470px;
          top: 19%;
          right: 5%;
          text-align: center;
        }
      }
    }
    .es-video {
      &__description {
        font-size: 17px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .es-cross {
      &__single {
        max-width: 250px;
        justify-content: space-between;
      }
      &__link {
        min-width: 248px;
      }
      &__text {
        max-width: 245px;
      }
      &__packshot {
        &--1 {
          &::before {
            top: -45px;
            left: -47px;
            font-size: 200px;
          }
        }
        &--2 {
          &::before {
            top: -50px;
            font-size: 200px;
          }
        }
        &--3 {
          &::before {
            top: -50px;
            font-size: 200px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1300px) {
    .es-category,
    .es-cross,
    .es-video {
      margin-bottom: 30px;
    }
  }

  @keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideright {
    from {
      opacity: 0.3;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
